.button {
	border-radius: 30px;
	outline: none;
	height:50;
	width:200;
	color:white;
	font-weight: bold;
	font-size: 30px; 
	margin-left: 45%;
	background-color:rgb(0, 144, 237);
	
}
.confiserie{
	margin-top:80px
}
tr {
  border-style: solid;
  background-color:red;
  color:white
}
th:nth-child(even) {
  background-color: #DEDBDB;
}