


#header { 
width: 100%;
height:50px; 
margin-top:60px;
background:#2F2F2E; 
position:fixed;
}

#header2 {
	margin:0px;
	width: 100%;
	height:80px;
	background:rgb(120,120,120);
	position:fixed;

}
.text{
	margin-top:75px;
}

.title {
	overflow:hidden;
	text-align:center;
}
.title a {
	
	display: inline-block;
	color:white;
	text-shadow: 3px 3px 1px rgba(255,255,255,0.3);
	font-size: 40px;
	font-style: Arial,sans-serif;
}
.title img{
	margin-top :5px;
}
.topnav  {
	overflow: hidden;
	
}
.topnav a {
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	font-size: 17px ;
    font-weight: bolder;
	text-shadow: 1px 1px 1px black;
	text-decoration: none;
}
.topnav a:hover {
    background-color: rgb(255,255,255);
    color: white;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  font-size: 17px;
  margin-top: 8px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 750px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }

#header{ 
height:250px; 
background:#2F2F2E; 
}
.text{
	margin-top:303px;
}


}