.textc{
	margin-top:60px;
	margin-left:25%;
	padding:1px 16px;
	height:100px;
}
.button{
	border-radius: 30px;
}
#menu-accordeon {
  padding:0;
  margin:0;
  margin-top:117px;
  list-style:none;
  text-align: center;
  width: 25%;
  position:fixed
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color: rgb(10,10,10); 
   background-image:-webkit-linear-gradient(top, rgb(120,120,120) 0%, #2F2F2E 100%);
   background-image: linear-gradient(to bottom, rgb(120,120,120) 0%, #2F2F2E 100%);
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: rgb(50,50,50);
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

@media screen and (max-width: 750px) {
	
#menu-accordeon {
  margin-top:303px;
 }
}
@media screen and (max-width: 750px) {
.textc{
	margin-top:255px;
	margin-left:25%;	
	padding:1px 16px;
	height:100px;
	}
}